.blog{
  .blog-wrap {
    display: flex;

    h2{
      margin-top: 0px;
      padding-bottom: 10px;
      font-size: 28px;
      color: #0098EF;;
    }
  }

  h2 {
    margin-top: 80px;
    padding-bottom: 30px;
    font-size: 28px;
    color: #0098EF;;
  }

  img {
    display: block;
  }

  .blog-left {
    width: 3 2%;
    padding-right: 10px;

    img {
      width: 100%;
    }
  }

  .blog-right {
    width: 68%;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .article{
     img {
      border:  4px solid #D1FFA2;
      border-radius: 6px;
    }

    h2 {
      border-left: 4px solid #C4C4C4;
      padding-left: 10px;
    }

    &:hover {
      cursor: pointer;

      img {
        border-color:  #5A0CB0;
      }
    }

    &-format-2{
      display: flex;

      h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
      }

      a{
        font-size: 1.1rem;
      }

      p {
        width: 141px;
        font-size: 1.1rem;
        line-height: 1.8;
        display: inline-block;
      }

      &-top{
        flex-direction: column;
        p {
          width: 306px;
          font-size: 1.1rem;
          line-height: 1.8;
          display: inline-block;
        }

        img{
          height: 104px;
        }
      }

      &-left{

        > div{
          padding-right: 20px;
        }

        img{
          height: 207px;
        }
      }

      &-right{
        h2 {
          margin-top: 10px;
        }

        > div {
          padding-left: 20px;
        }
      }
    }

    &-format-1{
      h2{
        margin-top: 30px;
      }

      p {
        line-height: 1.8;
        display: inline-block;
      }
    }
  }

  .newsletter{
    p{
      font-size: 18px;
      width: 290px;
      height: 160px;
      line-height: 1.8;
    }

    input, button{
      padding: 15px;
    }

    button{
      background: #6D0AD3;
      color: #fff;
    }
  }
}





