.service{
  h2 {
    margin-top: 80px;
    font-size: 28px;
    color: #0098EF;
    padding: 20px 0;
  }

  .service-flex{
    div {
      position: relative;
      margin: 18px;
      width: 308px;
      height: 218px;
      background-color: #00cf95;
      border: 4px solid #d1ffa2;

      &:hover {
        border: 5px solid #5a0cb0;
        border-radius: 8px;
        cursor: pointer;
      }
    }

    h2 {
      margin-top: 100px;
      font-weight: normal;
      color: #5A0CB0;
      right: 0;
      width: 200px;
      background-color: #d1ffa2;
      border-radius: 10px 0px 0px 10px;
      text-align: center;
      position: absolute;

      &:hover{
        background-color: #5a0cb0;
        color: #fff;
      }
    }

    img {
      position: absolute;
      left: 20px;
      top: 20px;

      &:hover{
        background-color: #5a0cb0;
        color: #fff;
      }
    }
  }

  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
}
